.contact {
    background: linear-gradient(90deg, rgba(12, 12, 32, 1) 0%, rgba(20, 27, 66, 0.9694019471488178) 58%, rgba(30, 47, 102, 1) 100%);
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;

    .wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
        }

        button {
            padding: 10px;
            color: white;
            background: #333;
            border-radius: 0 5px 5px 0;
            border: none;
        }

        .icons {
            display: flex;
            gap: 10px;
        }
    }
}